.homeBack {
  background-color: #222831;
}

#homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nameCard {
  border: 4px black solid;
  display: flex;
  flex-direction: column;
  width: 60vw;
  background-color: #dddddd;
  margin-bottom: 2rem;
}

#nameMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#nameCard img {
  float: right;
}

#contact {
  padding: 2px;
  text-align: center;
  width: 10vw;
  color: black;
  outline: 2px solid black;
  background-color: #30475e;
}

#contact:hover {
  cursor: pointer;
  background-color: #243c53;
}

.homeLinks {
  width: 60vw;
}

.pageCard {
  border: 2px solid black;
  font-size: 2em;
  text-align: center;
  background-color: #f05454;
}

.pageCard:hover {
  background-color: #d46363;
}

a div {
  color: black;
}

@media screen and (max-width: 786px) {
  div#nameCard img {
    align-items: center;
    float: none;
  }
}
